/* * {
    margin: 0;
} */

/* .container {
    background-color: rgb(186, 206, 226);
} */

/* .navbar-container {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
} */

/* .nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: mediumblue;
    padding: 40px 0px;
} */

/* .nav-menu {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
} */

/* .main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
 */

/* .name {
    font-size: 38px;
    color: rgb(5, 5, 80);
    font-family: Arial, Helvetica, sans-serif;
    margin: 140px auto 20px;
} */

/* .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* .image {
   width: 180px;
   height: 180px;
   background-color: grey;
   border-radius: 50%;
   padding: 5px;
}
 */

/* #img {
    width: 180px;
    height: 180px;
} */

/* .description {
    flex: 100px;
    margin-left: 35px;
    font-weight: 600;
    font-size: x-large;
} */

/* .me {
    margin: 30px 15%;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.2;
} */

/* .hyperlinks{
    text-align: center;
    padding: 50px;
} */

/* .hyperlinks a{
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    margin: 50px;
    color: rgb(88, 4, 4);
}
 */

 /* .lists {
    width: 60%;
    align-content: center;
    margin: 0 auto 80px;
    background-color: rgb(121, 174, 207);
    padding: 20px 0;
} */

/* .lists h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
} */

/* .lists ul, ol {
    margin-left: 80px;
    font-size: 1.35em;
    line-height: 1.5;
} */

/* .lists a {
    text-decoration: none;
    color: rgb(3, 83, 79);
} */
