* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body {
    background-color: rgb(210, 226, 243);
}

header {
    background-color: mediumblue;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.4em;
}

.principais {
    color: rgb(248, 118, 118);
}

.outras {
    color: rgb(248, 248, 121);
}

.lazer {
    color: rgb(117, 250, 117);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
    flex-flow: row wrap;
}

.name {
    font-size: 34px;
    color: rgb(3, 3, 209);
    width: 100%;
    text-align: center;
}

.image {
   width: 180px;
   height: 180px;
   background-color: grey;
   border-radius: 50%;
   align-self: flex-start;
   margin: 10px 40px;
}


#img {
    width: 180px;
    height: 180px;
}

.description {
    flex: 150px;
    font-weight: 600;
    font-size: x-large;
}

.about-me {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    line-height: 1.2;
    background-color: rgb(201, 201, 223);
    line-height: 28px;
}

.hyperlinks{
    display: flex;
    justify-content: center;
    margin: 10px 20%;
}

.hyperlinks a{
    text-decoration: none;
    font-size: 2em;
    color: rgb(88, 4, 4);
    margin-left: 30px;
}

.hyperlinks :first-child {
    margin-left: 0px;
}

.lists {
   width: 40%;
   justify-content: center;
   margin: 25px auto 20px;
   border-radius: 10px;
   padding: 10px 30px;
}

.red{
    background-color: rgb(248, 118, 118);
}

.yellow{
    background-color: rgb(248, 248, 121);
}

.green{
    background-color: rgb(117, 250, 117);
}

.lists h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5rem;
}

.lists ul, ol {
    margin-left: 20px;
    font-size: 1.2em;
    line-height: 1.8;
}

.lists a {
    text-decoration: none;
    color: rgb(3, 83, 79);
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

#foto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: rgb(19, 179, 5);
    margin-bottom: 30px;
}